body {
    display: grid;
    grid-template-columns: 1fr 5px;
    grid-template-rows: 200px 1fr 1fr 200px;
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

main {
    grid-row: 2 / span 2;
    grid-column: 1;
}

h1{
    font-weight: bold;
}

hr {
    margin: auto;
    border-top: 2px solid #FFFFFF;
}

.container {
    grid-column: 2;
}

p, ul {
    font-family: 'Lato', sans-serif;
}

.red {
    color: red;
}

.green {
    color: green;

}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.redbox {
    background: red;
    grid-row: 1;
}

.bluebox {
    background: blue;
    grid-row: 2;
}

.greenbox {
    background: green;
    grid-row 3;
}

.yellowbox {
    background: yellow;
    grid-row: 4;
}