body {
    display: grid;
    grid-template-columns: 1fr 5px 5px;
    grid-template-rows: 150px 1fr 1fr 150px;
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

main {
    grid-row: 2 / span 2;
    grid-column: 1;
}

ul {
    display: inline;
    width: 50px;
    font-family: 'Lato', sans-serif;
}

li {
    display: inline;
    margin: 3px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 200px;
    max-height: 200px;
}

li {
    text-align: left;
    float: left;
}

h1{
    font-weight: bold;
}

hr {
    margin: auto;
    border-top: 2px solid #FFFFFF;
}

.container {
    grid-column: 3;
    grid-row: 1 / span 4;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.red {
    color: red;
}

.green {
    color: green;

}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.item {
    height: 25%;
  }

.redbox {
    background: red;
    grid-row: 1 / span 1;
}

.bluebox {
    background: blue;
    grid-row: 2 /span 1;
}

.greenbox {
    background: green;
    grid-row 3 /span 1;
}

.yellowbox {
    background: yellow;
    grid-row: 4 / span 1;
}

